--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
fastapi==0.116.1
anyio==4.12.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
modelscope==1.24.0
transformers==4.51.3
numpy==1.26.1
cn2an==0.5.23
kaldiio==2.18.0
kaldi_native_fbank==1.15
sentencepiece==0.1.99
soundfile==0.12.1
textgrid==1.6.1
